* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: linear-gradient(135deg, #878eac 0%, #0b521c 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input, select {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 2px solid #e0e0e0;
    border-radius: 12px;
    font-size: 16px;
    transition: 0.3s;
}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;

}