form{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 5px;
    margin: auto;
    border: 2px solid violet;
    border-radius: 4px;
    justify-content: space-between;
}