*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#bytcl{
    width: 500px;
    height: 500px;
}

.sdv{
    display: flex;
    flex-direction: column;
}

.yyy{
    width: 100px;

}

.vty{
    width: 200px;
}

#gb{
    width: 200px;
    border-color: aqua;
    border-radius: 8px;
}

.colorgf{
    background-color: aquamarine;
}